---
import Ministerios from "../../layouts/Layout.astro";
import Card from "../../components/Card.tsx";
import stories from "../../data/ministerios.json";

export const prerender = true;

const story = stories.find((x) => x.title === "Pontifex");

const images = [
  { url: "/assets/ministerios/jovenes/PP05.jpg", alt: "Imagen 5" },
  { url: "/assets/ministerios/jovenes/PP01.jpg", alt: "Imagen 1" },
  { url: "/assets/ministerios/jovenes/PP08.jpg", alt: "Imagen 8" },
  { url: "/assets/ministerios/jovenes/PP03.jpg", alt: "Imagen 3" },
  { url: "/assets/ministerios/jovenes/PP11.jpg", alt: "Imagen 11" },
  { url: "/assets/ministerios/jovenes/PP02.jpg", alt: "Imagen 2" },
  { url: "/assets/ministerios/jovenes/PP06.jpg", alt: "Imagen 6" },
  { url: "/assets/ministerios/jovenes/PP09.jpg", alt: "Imagen 9" },
  { url: "/assets/ministerios/jovenes/PP12.jpg", alt: "Imagen 12" },
  { url: "/assets/ministerios/jovenes/PP10.jpg", alt: "Imagen 10" },
  { url: "/assets/ministerios/jovenes/PP07.jpg", alt: "Imagen 7" },
  { url: "/assets/ministerios/jovenes/PP04.jpg", alt: "Imagen 4" },
];
---

<Ministerios title="ICEP | Pontifex">
  <section class="my-32 max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
    {/* Volver a la página principal */}
    <div class="mb-12 hover:scale-102 transition-all easy-out">
      <a href="/ministerios" class="flex flex-row items-center">
        <svg
          class="size-8 pl-1 stroke-white rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 12h12m0 0-5-5m5 5-5 5"></path>
        </svg>
        <p
          class="text-white text-xl font-bold group-hover:fill-orange-500 transition-all easy-out"
        >
          Ministerios
        </p>
      </a>
    </div>

    <h1 class="text-3xl font-bold leading-15">
      Un encuentro para el crecimiento de los jóvenes
    </h1>
    <p class=" text-neutral-400 py-12 prose-lg  ">
      El nombre <strong>Pontifex</strong> no es casual, es una declaración de fe
      en Jesús. Surge del corazón mismo de nuestros jóvenes, reflejando nuestra aspiración:
      ser constructores de puentes.
    </p>

    <div
      class="flex flex-col md:flex-row items-center justify-start h-40 my-16"
    >
      <div class="container mx-auto text-white w-46">
        {
          story ? (
            <Card
              bg={story.bg}
              title={story.title}
              desc={story.desc}
              logo={story.logo}
              href={story.href}
              touchDisabled={true}
            />
          ) : (
            <p class="text-white">No story found for "Pontifex".</p>
          )
        }
      </div>

      <div class="m-12 text-center">
        <a
          href="https://instagram.com/jovenes_icep"
          target="_blank"
          rel="noopener"
          class="inline-flex items-center text-white font-normal px-6 py-3 rounded-lg transition-all group hover:scale-105 easy-out"
        >
          <svg
            class="size-10 group-hover:fill-orange-500 transition-all easy-out"
            fill="currentColor"
            viewBox="0 0 24 24"
            ><path fill="none" d="M0 0h24v24H0z"></path>
            <path
              d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"
            ></path>
          </svg>
          <p
            class="group-hover:text-orange-500 p-2 transition-all easy-out text-left"
          >
            @jovenes_icep
          </p>
        </a>
      </div>
    </div>

    <div>
      <video src="/assets/ministerios/jovenes/PontifexIntro2.mov" autoplay loop
      ></video>
    </div>

    <div
      class="flex flex-col justify-center items-center container mx-auto text-white"
    >
      <div class="items-center py-20">
        <p class="text-white prose-lg text-justify">
          Inspirados en Jesús, el puente definitivo entre Dios y la humanidad,
          buscamos conectar, no solo entre nosotros, sino también con la
          comunidad que nos rodea. Somos un grupo diverso, un crisol de edades,
          experiencias y perspectivas, unidos por la fe y el deseo de crecer
          juntos. En nuestras reuniones, que abarcan un rango de edad entre los
          16 y los 35 años, encontrarás un espacio para compartir, aprender y
          crecer.
        </p>
      </div>

      <div class="items-center py-20">
        <p class="text-white prose-lg text-justify">
          Aquí, la Palabra de Dios cobra vida a través de discusiones
          significativas, explorando su relevancia en el contexto de la vida
          actual. Compartimos testimonios, historias personales de fe, y
          momentos de profunda reflexión, La Palabra de Dios es nuestro punto de
          partida. No solo abordamos temas de actualidad, sino que buscamos que
          la Biblia sea nuestro centro, descubriendo la guía de Dios en nuestro
          propósito como jóvenes en este mundo. En Pontifex, la diversidad es
          una nos nutre: somos matrimonios y parejas de novios jóvenes, solteros
          (guiño guiño), todos unidos en un mismo propósito. Es un lugar donde
          las diferentes etapas de la vida se complementan, creando un ambiente
          propicio con las condiciones dadas para que construyamos La fe.
        </p>
      </div>

      <div class="items-center py-20">
        <p class="text-white prose-lg text-justify">
          Más que un simple grupo de jóvenes, Pontifex es una familia en la fe.
          Un espacio donde se construyen amistades genuinas, se comparten
          alegrías y se sobrellevan desafíos con el apoyo mutuo de nuestros
          hermanos. ¡Acá es donde hacemos que las cosas pasen! La fe se
          fortalece, no solo a través del estudio, sino también a través de la
          conexión humana, Nos brindamos el uno al otro apoyandonos y
          acompañandonos con el objetivo puesto en la búsqueda constante de una
          vida plena en Cristo. Es un espacio donde cada persona encuentra su
          lugar, donde cada historia importa y donde cada chico y chica es
          valorado. Por sobre todo, Dios define quienes somos en este espacio
          donde la fe se vive, se comparte y se celebra.
        </p>
      </div>

      <div class="my-12">
        <h3 class="text-3xl font-normal text-white mb-6 text-center">
          Momentos de Conexión
        </h3>
        <div class="columns-1 sm:columns-2 md:columns-3 gap-4 animation-appear">
          {
            images.map((img) => (
              <div class="mb-4 animation-appear">
                <img
                  src={img.url}
                  alt={img.alt}
                  class="w-full rounded-lg shadow-lg transform hover:scale-104 transition-transform duration-300 "
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Ministerios>
