---
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.tsx";
import NextEvent from "../components/NextEvent.jsx";
import { Image } from "astro:assets";
import Foto1 from "../assets/PG08.webp";
import Foto2 from "../assets/PG09.webp";
import Foto3 from "../assets/PG03.webp";

export const prerender = true;
---

<Layout title="ICEP | Iglesia Complejo Evangélico Pilar" showLoading={true}>
  <main>
    <section class="w-full h-120 flex flex-col justify-center items-left">
      <div class="mx-8 sm:mx-20 md:mx-24 lg:mx-64 mb-10">
        <h1 class="text-3xl md:text-4xl font-sans font-extrabold text-left">
          Bienvenido a la <br /> Iglesia Cristiana <br /> Evangélica Pilar
        </h1>
      </div>
    </section>

    <section class="w-full h-full sm:h-screen overflow-hidden">
      <div class="relative h-screen sm:h-full">
        <Image
          src={Foto1}
          alt="Fachada de la iglesia con los integrantes de la misma"
          class="w-full h-full object-cover drop-shadow-3xl brightness-50 transition-all duration-500 ease-in-out"
          priority={true}
          width={1920}
          height={1080}
        />
        <div class="absolute top-1/2 right-10 sm:right-32 md:right-64">
          <div class="text-center">
            <h2
              class="text-3xl sm:text-4xl md:text-5xl font-serif font-extrabold text-center sm:text-right"
            >
              No temas <br /> solo cree
            </h2>
          </div>
        </div>
      </div>
    </section>

    <section class="py-16">
      <NextEvent client:idle />
    </section>

    <section class="w-full h-full sm:h-screen overflow-hidden">
      <div class="relative h-screen sm:h-full">
        <Image
          src={Foto2}
          alt="Grupo de integrantes de la iglesia en un campamento desde una sierra"
          class="w-full h-full object-cover drop-shadow-3xl brightness-50 transition-all duration-500 ease-in-out"
          width={1920}
          height={1080}
          loading="lazy"
        />
        <div class="absolute top-1/2 left-10 sm:left-32 md:left-64">
          <div class="text-center">
            <h2
              class="text-3xl sm:text-4xl md:text-5xl font-serif font-extrabold text-center sm:text-left"
            >
              Dios es amor
          </h2>
          </div>
        </div>
      </div>
    </section>
    <section class="py-16">
      <Services client:idle />
    </section>
    <section class="w-full h-full sm:h-screen overflow-hidden">
      <div class="relative h-screen sm:h-full">
        <Image
          src={Foto3}
          alt="Personas caminando en el campamento de tandil 2025"
          class="w-full h-full object-cover drop-shadow-3xl brightness-50 transition-all duration-500 ease-in-out"
          loading="lazy"
        />
        <div
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        >
          <div class="grid grid-cols-1 sm:grid-cols-2">
            <div class="order"></div>
            <div class="flex flex-col justify-center items-center sm:items-end">
              <div class="text-center mb-6">
                <h2
                  class="text-2xl sm:text-3xl font-serif font-extrabold text-center sm:text-right mb-4"
                >
                  Contactanos
                </h2>
                <p
                  class="text-lg sm:text-xl text-zinc-300 font-serif text-center sm:text-right"
                >
                  Estamos para responder tus preguntas
                </p>
              </div>
              <div>
                <a
                  href="/contacto"
                  class={`motion-preset-expand 
                        text-white
                        uppercase
                        no-underline
                        ring-1
                        ring-white
                        rounded-xl
                        py-4
                        px-6
                        items-center
                        text-center
                        text-md
                        font-bold
                        relative
                        z-10
                        transition-all
                        duration-500
                        ease-[cubic-bezier(0.785,0.135,0.15,0.86)]
                        tracking-wide
                        font-sans
                        overflow-hidden
                        before:content-['']
                        before:absolute
                        before:top-0
                        before:right-0
                        before:w-0
                        before:h-full
                        before:bg-white
                        before:-z-10
                        before:transition-all
                        before:duration-500
                        before:ease-[cubic-bezier(0.785,0.135,0.15,0.86)]
                        hover:before:w-full
                        hover:before:left-0
                        hover:before:right-auto
                        hover:text-zinc-800
                        inline-flex`}
                >
                  Quiero contactarme
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-16 mx-4 my-16 sm:mx-10 rounded-xl"></section>
  </main>
</Layout>

<script>
  const btnLeft = document.getElementById("btn-left"),
    btnRight = document.getElementById("btn-right"),
    slider = document.getElementById("slider"),
    sliderSections = document.querySelectorAll(".slider-section");

  let counter = 0;
  const widthImg = 100 / sliderSections.length;

  function moveToRight() {
    counter = (counter + 1) % sliderSections.length;
    if (slider) {
      slider.style.transform = `translateX(-${counter * widthImg}%)`;
    }
  }

  function moveToLeft() {
    counter = (counter - 1 + sliderSections.length) % sliderSections.length;
    if (slider) {
      slider.style.transform = `translateX(-${counter * widthImg}%)`;
    }
  }

  btnLeft?.addEventListener("click", moveToLeft);
  btnRight?.addEventListener("click", moveToRight);

  setInterval(moveToRight, 4000);
</script>
