---
import Layout from "../layouts/Layout.astro";
import CardMin from "../components/CardMin.astro";
import stories from "../data/ministerios.json";


export const prerender = false;
---

<Layout title="ICEP | Ministerios">
  <section class="flex flex-col justify-center items-center py-16">
    <div
      class="flex flex-col justify-center items-center text-center mb-8 py-16"
    >
      <h1 class="text-5xl sm:text-6xl font-black">Nuestros Ministerios</h1>
      <p class="p-8">
        Conoce nuestros espacios en donde nos desarrollamos como iglesia.
      </p>
    </div>

    <div
      class="container mx-auto px-10 sm:px-20 lg:px-32 xl:px-64 grid gap-8 grid-cols-1 md:grid-cols-2"
    >
      {
        stories.map((story) => (
          <CardMin
            bg={story.bg}
            title={story.title}
            desc={story.desc}
            logo={story.logo}
            href={story.href}
            />
        ))
      }
    </div>
  </section>
</Layout>
