---
import { Client } from '@notionhq/client';

import { NOTION_API_KEY, DATABASE_ID} from 'astro:env/server';

const fechaActual = new Date();
const fechaISO = fechaActual.toISOString().split('T')[0];
let notionPages
let pageType
let pageDate
let pageLink
let backColor

const notion = new Client({ auth: process.env.NOTION_API_KEY });

try{
  notionPages = await notion.databases.query({ 
    database_id: process.env.DATABASE_ID,
    filter: {
      property: "Fecha",
      date: {
        on_or_after: fechaISO ,
      }
    },
    sorts: [
        {
          property: "Fecha",
          direction: "ascending"
        }
      ],
  });

  if (notionPages.results.length > 0) {
    const type = notionPages.results[0].properties['Tipo de Reunión'].select?.name;
    
    pageType = type.toUpperCase();


    if(pageType == "ACTIVADOS") {
      backColor = "green-500"
    } else if(pageType == "MINISTERIO") {
      backColor = "blue-500"
    } else if(pageType == "ORACIÓN") {
      backColor = "orange-500"
    } else if(pageType == "JÓVENES") {
      backColor = "purple-500"
    } else if(pageType == "MUJERES") {
      backColor = "rose-500"
    } else if(pageType == "MATRIMONIOS") {
      backColor = "red-500"
    } else {
      backColor = "custom-blue"
    }

    const fechaStr = notionPages.results[0].properties['Fecha'].date?.start;

    if (fechaStr) {
      // Crear una nueva fecha a partir de la cadena ISO
      const fecha = new Date(fechaStr);
      console.log(fechaStr)

      // Obtener los componentes de la fecha
      const opciones = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      const diaSemana = fecha.toLocaleDateString('es-AR', opciones).split(',')[0];
      const dia = fecha.getDate();
      const mes = fecha.toLocaleDateString('es-AR', { month: 'long' });

      
      const dateParts = fechaStr.split("T")[1].split(":");
      const originalHour = dateParts[0]; 
      const originalMinutes = dateParts[1];

      // Asegurar formato de dos dígitos (aunque ya lo tiene aquí)
      const horas = originalHour.padStart(2, '0');
      const minutos = originalMinutes.padStart(2, '0');


      // Formatear la cadena de salida
      const date = `El próximo ${diaSemana} ${dia} de ${mes} a las ${horas}:${minutos}hs`;
      console.log(date)
      pageDate = date;    
    }

    // Comprobar si existe el enlace y mostrarlo
    const mensajeEnYouTube = notionPages.results[0].properties['Mensaje en YouTube']?.url;
    if (mensajeEnYouTube) {
      console.log(`Enlace a YouTube: ${mensajeEnYouTube}`);
    }
  } else {
    console.log('No se encontraron datos.');
  }
} catch (error) {
  // Maneja el error aquí.
  if (error.code === 'unauthorized') {
    console.error('Error: No tienes acceso al recurso especificado. Revisa tus credenciales y permisos.');
  } else {
    console.error('Error al consultar Notion:', error.message);
  }
}

---

<div class="flex flex-col justify-center items-center p-8 m-8 gap-6 mx-4 sm:mx-10">
  {notionPages ? (
    <h2 class="text-2xl font-bold text-center">Nuestra proximo encuentro es:</h2>
    <div class="relative">
      <h1 class={`absolute text-5xl p-6 sm:text-7xl blur-3xl bg-${backColor} font-bold text-center`}>{pageType}</h1>
      <h1 class={`relative text-5xl p-6 sm:text-7xl font-bold text-center`} >{pageType}</h1>
    </div>
    <p class="text-center">{pageDate}</p>
  ) : console.log("No se encuentran datos")
  }
  {pageLink ? (
    <button class="">{pageLink}</button>
  ) : null}
</div>