---
import "../styles/global.css";
import '@fontsource/merriweather';
import '@fontsource-variable/noto-sans';
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
}

const currentPath = Astro.url.pathname;


const {
  title,
  description = "Iglesia Cristiana Evangélica en Pilar - Sitio Oficial",
} = Astro.props;

let titleAux = title;

let backSite = "";
let nextSite = "";

if (titleAux == "ICEP | Niños") {
  console.log(titleAux);
  backSite = "matrimonios";
  nextSite = "adolescentes";
} else if (titleAux == "ICEP | Adolescentes") {
  console.log(titleAux);

  backSite = "ninios";
  nextSite = "jovenes";
} else if (titleAux == "ICEP | Pontifex") {
  console.log(titleAux);

  backSite = "adolescentes";
  nextSite = "mujeres";
} else if (titleAux == "ICEP | Mujeres") {
  console.log(titleAux);

  backSite = "adolescentes";
  nextSite = "matrimonios";
} else if (titleAux == "ICEP | Matrimonios") {
  console.log(titleAux);

  backSite = "adolescentes";
  nextSite = "ninios";
} else {
  backSite = "jovenes";
  nextSite = "contacto";
}

export const prerender = true;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LogoWhite.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {/*
    <ClientRouter />
    */}    
  </head>
  <body class="min-h-screen bg-zinc-800 text-white">
    <Header transition:persist client:visible location={currentPath} />
    <main
      class="flex flex-col shadow-lg rounded-xl ring ring-2 ring-white m-5 sm:m-10"
      transition:animate="slide"
    >
      <div class="flex justify-between items-center w-full p-6">
        <div
          class="flex justify-center items-center w-10 h-10"
        >
          <a href=`/${backSite}`>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="1 1 24 24"
              fill="white"
              class="size-6 w-10 fill-white transition-all easy-in-out"
            >
              <path
                fill-rule="evenodd"
                d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>

        <div class="flex flex-row justify-center items-center">
          <slot name="title" />
        </div>

        <div
          class="flex justify-center items-center w-10 h-10"
        >
          <a href=`/${nextSite}`>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="-1 0 24 24"
              fill="white"
              class="size-6 w-10 fill-white"
            >
              <path
                fill-rule="evenodd"
                d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>

      <slot name="content" class="w-full" />
    </main>
    <Footer />
  </body>
</html>
